Repository OJFord/amail: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, lint-eml-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.2
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: cargo-test
        name: Cargo test
        language: system
        entry: cargo test
        files: ^.*\.rs
        pass_filenames: false

      - id: lint-eml-client
        name: Lint eml-client
        language: system
        entry: just eml-client/lint
        files: ^eml-client/
        pass_filenames: false

Update rustc & edition 2021->24
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/src/main.rs
  lambda-smtp-relay/Cargo.toml
  lambda-smtp-relay/handler.rs
  notmuch-more/Cargo.toml
  notmuch-more/src/compose.rs
  notmuch-more/src/parse/addresses.rs
  notmuch-more/src/parse/body.rs
  notmuch-more/src/parse/headers.rs
  notmuch-more/src/smtp.rs
Due: cargo-test, lint-eml-client

Fix tauri beforeBuildCommand not running
  Cargo.lock
  eml-client/justfile
  eml-client/package.json
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/build.rs
  eml-client/src-tauri/tauri.conf.json
  justfile
Due: cargo-test, lint-eml-client

Fix eml-client frontend build on cargo non-build
  Cargo.lock
  Cargo.toml
  eml-client/justfile
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/build.rs
  eml-client/xtask-frontend/Cargo.toml
  eml-client/xtask-frontend/src/lib.rs
Due: cargo-test, lint-eml-client

Remove cargo check, duplicating clippy
  .pre-commit-config.yaml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix pre-commit terraform not found in CI
  .github/workflows/lint.yml
Due: none

Run lint on all push
  .github/workflows/lint.yml
Due: none

Bump tested terraform to v1.14.3
  .terraform-version
Due: none

Specify relaxed provider versions
  lambda-smtp-relay/versions.tf
  outgoing/providers.tf
  outgoing/versions.tf
  versions.tf
Due: none

Fix deprecation warnings
  main.tf
  mta-sts.tf
  outgoing/main.tf
  outgoing/outputs.tf
  versions.tf
Due: none

Fix ESLint 9 flat config compatibility (#204)
  eml-client/eslint.config.js
Due: lint-eml-client

Fix attachments adding empty
  eml-client/src/components/EmlCompose.svelte
Due: lint-eml-client

Fix empty reply modal when received as Bcc, no To
  notmuch-more/src/compose.rs
Due: cargo-test

Fix 503 apt repo
  .github/workflows/lint.yml
Due: none

Migrate svelte to v5
  eml-client/eslint.config.js
  eml-client/index.html
  eml-client/package.json
  eml-client/src/App.svelte
  eml-client/src/components/Eml.svelte
  eml-client/src/components/EmlAddresses.svelte
  eml-client/src/components/EmlAttachment.svelte
  eml-client/src/components/EmlBodyPart.svelte
  eml-client/src/components/EmlCompose.svelte
  eml-client/src/components/EmlList.svelte
  eml-client/src/components/EmlListItem.svelte
  eml-client/src/components/EmlNewModal.svelte
  eml-client/src/components/EmlReplyModal.svelte
  eml-client/src/components/NavQueryItem.svelte
  eml-client/src/components/PdfAttachmentViewer.svelte
  eml-client/src/components/RelativeDate.svelte
  eml-client/src/components/Search.svelte
  eml-client/src/components/TagBadges.svelte
  eml-client/src/components/TagQueryModal.svelte
  eml-client/src/components/TagsSelect.svelte
  eml-client/src/components/VCalSummary.svelte
  eml-client/src/global.scss
  eml-client/src/main.js
  eml-client/yarn.lock
Due: lint-eml-client

Fix build errors in vite 6 upgrade
  eml-client/src/global.scss
  eml-client/vite.config.js
Due: lint-eml-client

Fix for API change in whoami v2
  eml-client/src-tauri/src/main.rs
Due: cargo-test, lint-eml-client

Disambiguate minor groups by ecosystem
  .github/dependabot.yml
Due: none

Fix dependabot missed manifest bump in #255
  eml-client/src-tauri/Cargo.toml
Due: lint-eml-client

Use explicit token permissions
  .github/workflows/lint.yml
Due: none

Maybe fix Dependabot not bumping tauri
  eml-client/src-tauri/Cargo.toml
Due: lint-eml-client

Maybe fix Dependabot not bumping deps
  lambda-smtp-relay/Cargo.toml
Due: none

Maybe fix Dependabot not bumping deps
  .github/dependabot.yml
  lambda-smtp-relay/Cargo.toml
Due: none

Fix email age persisted across tabs
  eml-client/src/components/RelativeDate.svelte
Due: lint-eml-client

Ignore node_modules
  eml-client/.gitignore
Due: lint-eml-client

Fix email age persisted across tabs (#263)
  .gitignore
  eml-client/src/components/RelativeDate.svelte
Due: lint-eml-client

Appease lint
  eml-client/src/components/EmlListItem.svelte
Due: lint-eml-client

Display recipients in sent message list instead of sender (#174)
  eml-client/src/components/EmlListItem.svelte
Due: lint-eml-client

Show all sent-list recipients across To/Cc/Bcc (#265)
  eml-client/src/components/EmlListItem.svelte
Due: lint-eml-client

Apply suggestion from @OJFord
  .github/workflows/lint.yml
Due: none

Pin rust/pre-commit toolchain in CI and enable Dependabot updates (#294)
  .github/dependabot.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  rust-toolchain.toml
Due: none

Pin GitHub Actions to commit SHAs (#297)
  .github/workflows/lint.yml
Due: none

Use rust-toolchain.toml as source of truth for CI toolchain version (#300)
  .github/workflows/lint.yml
Due: none

Build Tauri app in CI to test (#266)
  .github/workflows/build.yml
  eml-client/.node-version
  eml-client/src-tauri/tauri.conf.json
Due: lint-eml-client
