Repository OJFord/amail: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, lint-eml-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.2
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: cargo-test
        name: Cargo test
        language: system
        entry: cargo test
        files: ^.*\.rs
        pass_filenames: false

      - id: lint-eml-client
        name: Lint eml-client
        language: system
        entry: just eml-client/lint
        files: ^eml-client/
        pass_filenames: false

Fix dependabot config not recognised
  .github/dependabot.yml
Due: none

Fix duplicate job in PRs
  .github/workflows/lint.yml
Due: none

Group minor/patch dependency updates
  .github/dependabot.yml
Due: none

Pin back erring updates, untested relay deps
  Cargo.lock
  lambda-smtp-relay/Cargo.toml
  notmuch-more/Cargo.toml
Due: none

Fix deprecation errors
  notmuch-more/src/compose.rs
  notmuch-more/src/parse/headers.rs
Due: cargo-test

Bump lettre to non-pre-release version
  Cargo.lock
  lambda-smtp-relay/Cargo.toml
  lambda-smtp-relay/handler.rs
  notmuch-more/Cargo.toml
  notmuch-more/src/error.rs
  notmuch-more/src/smtp.rs
Due: cargo-test

Bump tauri to v1.5
  Cargo.lock
  eml-client/src-tauri/Cargo.toml
Due: lint-eml-client

Migrate svelte to v4
  eml-client/package.json
  eml-client/yarn.lock
Due: lint-eml-client

Fix error, no tags/mail loading when all read
  eml-client/src/App.svelte
Due: lint-eml-client

Update pre-commit hooks, clippy
  .pre-commit-config.yaml
  notmuch-more/src/parse/body.rs
Due: cargo-test

Fix error could not find main in tokio
  Cargo.lock
  lambda-smtp-relay/Cargo.toml
Due: none

Fix trait bound not satisfied
  Cargo.lock
  lambda-smtp-relay/Cargo.toml
Due: none

Fix error no `MessageOwner` in `notmuch` root
  notmuch-more/src/parse/addresses.rs
  notmuch-more/src/parse/error.rs
  notmuch-more/src/parse/headers.rs
Due: cargo-test

Fix error unexpected generic
  notmuch-more/src/smtp.rs
Due: cargo-test

Fix `lambda_runtime` API changes
  lambda-smtp-relay/handler.rs
Due: cargo-test

Fix err borrows expr implements reqd traits
  notmuch-more/src/smtp.rs
Due: cargo-test

Fix deprecated `notmuch::Database::open`
  notmuch-more/src/database.rs
Due: cargo-test

Fix argument `account_id` required
  mta-sts.tf
  variables.tf
Due: none

Fix incompatible terraform version
  .terraform-version
  versions.tf
Due: none

Fix new email modal not appearing
  eml-client/package.json
  eml-client/src/App.svelte
  eml-client/src/components/Eml.svelte
  eml-client/src/components/EmlAddresses.svelte
  eml-client/src/components/EmlAttachment.svelte
  eml-client/src/components/EmlCompose.svelte
  eml-client/src/components/EmlList.svelte
  eml-client/src/components/EmlListItem.svelte
  eml-client/src/components/EmlNewModal.svelte
  eml-client/src/components/EmlReplyModal.svelte
  eml-client/src/components/NavQueryItem.svelte
  eml-client/src/components/Search.svelte
  eml-client/src/components/TagBadges.svelte
  eml-client/src/components/TagQueryModal.svelte
  eml-client/src/components/TagsSelect.svelte
  eml-client/yarn.lock
Due: lint-eml-client

Fix misleading error message
  notmuch-more/src/smtp.rs
Due: cargo-test

Migrate tauri to v2 (beta)
  Cargo.lock
  eml-client/package.json
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/src/error.rs
  eml-client/src-tauri/src/main.rs
  eml-client/src-tauri/tauri.conf.json
  eml-client/src/api.js
  eml-client/src/components/EmlAttachment.svelte
  eml-client/src/components/EmlCompose.svelte
  eml-client/yarn.lock
Due: cargo-test, lint-eml-client

Fix error on malformed spam multipart msg
  notmuch-more/src/parse/body.rs
Due: cargo-test

Fix pre-commit error missing dep javascriptcoregtk
  .github/workflows/lint.yml
Due: none

Fix reindexing fails on sending email
  notmuch-more/src/smtp.rs
Due: cargo-test

Fix URL opening broken since update to tauri v2
  eml-client/src-tauri/capabilities/migrated.json
Due: lint-eml-client

Fix attachments not working, no dialog since tauri v2
  eml-client/src-tauri/capabilities/migrated.json
  eml-client/src-tauri/gen/schemas/capabilities.json
  eml-client/src/components/EmlCompose.svelte
Due: lint-eml-client

Add capabilities untracked since v2 migration
  eml-client/src-tauri/capabilities/migrated.json
  eml-client/src-tauri/gen/schemas/acl-manifests.json
  eml-client/src-tauri/gen/schemas/capabilities.json
  eml-client/src-tauri/gen/schemas/desktop-schema.json
  eml-client/src-tauri/gen/schemas/linux-schema.json
Due: lint-eml-client

Fix generated format & lint churn
  eml-client/.gitignore
  eml-client/eslint.config.js
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/gen/schemas/acl-manifests.json
  eml-client/src-tauri/gen/schemas/capabilities.json
  eml-client/src-tauri/gen/schemas/desktop-schema.json
  eml-client/src-tauri/gen/schemas/linux-schema.json
Due: lint-eml-client

Fix attachment download for tauri v2
  eml-client/src-tauri/capabilities/migrated.json
  eml-client/src/components/EmlAttachment.svelte
Due: lint-eml-client

Bump vite to v5
  eml-client/package.json
  eml-client/vite.config.js
  eml-client/yarn.lock
Due: lint-eml-client

Bump tauri v2 beta
  Cargo.lock
  eml-client/package.json
  eml-client/src-tauri/Cargo.toml
  eml-client/yarn.lock
Due: lint-eml-client

Bump tauri v2 beta
  Cargo.lock
  eml-client/package.json
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/capabilities/migrated.json
  eml-client/yarn.lock
Due: lint-eml-client

Fix attachment rendering
  eml-client/package.json
  eml-client/src-tauri/src/build.rs
  eml-client/src-tauri/tauri.conf.json
  eml-client/src/components/PdfAttachmentViewer.svelte
  eml-client/vite.config.js
  eml-client/yarn.lock
Due: cargo-test, lint-eml-client

Fix warnings `default_features` removed in rust edition '24
  lambda-smtp-relay/Cargo.toml
  notmuch-more/Cargo.toml
Due: none

Bump tauri v2 to stable
  Cargo.lock
  eml-client/src-tauri/Cargo.toml
  eml-client/src-tauri/capabilities/migrated.json
  eml-client/src-tauri/tauri.conf.json
Due: lint-eml-client
